=begin
#OneLogin API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 3.0.0-alpha.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1

=end

require 'cgi'

module OneLogin
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user.
    # @param activate_factor_request [ActivateFactorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def activate_factor(authorization, user_id, activate_factor_request, opts = {})
      activate_factor_with_http_info(authorization, user_id, activate_factor_request, opts)
      nil
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user.
    # @param activate_factor_request [ActivateFactorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def activate_factor_with_http_info(authorization, user_id, activate_factor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.activate_factor ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.activate_factor"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.activate_factor"
      end
      # verify the required parameter 'activate_factor_request' is set
      if @api_client.config.client_side_validation && activate_factor_request.nil?
        fail ArgumentError, "Missing the required parameter 'activate_factor_request' when calling DefaultApi.activate_factor"
      end
      # resource path
      local_var_path = '/api/2/mfa/users/{user_id}/verifications'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(activate_factor_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.activate_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#activate_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param add_access_token_claim_request [AddAccessTokenClaimRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Id]
    def add_access_token_claim(authorization, id, add_access_token_claim_request, opts = {})
      data, _status_code, _headers = add_access_token_claim_with_http_info(authorization, id, add_access_token_claim_request, opts)
      data
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param add_access_token_claim_request [AddAccessTokenClaimRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Id, Integer, Hash)>] Id data, response status code and response headers
    def add_access_token_claim_with_http_info(authorization, id, add_access_token_claim_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_access_token_claim ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.add_access_token_claim"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.add_access_token_claim"
      end
      # verify the required parameter 'add_access_token_claim_request' is set
      if @api_client.config.client_side_validation && add_access_token_claim_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_access_token_claim_request' when calling DefaultApi.add_access_token_claim"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations/{id}/claims'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_access_token_claim_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Id'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.add_access_token_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_access_token_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param add_client_app_request [AddClientAppRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ClientApp]
    def add_client_app(authorization, id, add_client_app_request, opts = {})
      data, _status_code, _headers = add_client_app_with_http_info(authorization, id, add_client_app_request, opts)
      data
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param add_client_app_request [AddClientAppRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClientApp, Integer, Hash)>] ClientApp data, response status code and response headers
    def add_client_app_with_http_info(authorization, id, add_client_app_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_client_app ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.add_client_app"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.add_client_app"
      end
      # verify the required parameter 'add_client_app_request' is set
      if @api_client.config.client_side_validation && add_client_app_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_client_app_request' when calling DefaultApi.add_client_app"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations/{id}/clients'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_client_app_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ClientApp'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.add_client_app",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_client_app\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param role_id [Integer] Set to the id of the role you want to return.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<AddRoleUsers200ResponseInner>]
    def add_role_admins(authorization, role_id, request_body, opts = {})
      data, _status_code, _headers = add_role_admins_with_http_info(authorization, role_id, request_body, opts)
      data
    end

    # @param authorization [String] 
    # @param role_id [Integer] Set to the id of the role you want to return.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddRoleUsers200ResponseInner>, Integer, Hash)>] Array<AddRoleUsers200ResponseInner> data, response status code and response headers
    def add_role_admins_with_http_info(authorization, role_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_role_admins ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.add_role_admins"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling DefaultApi.add_role_admins"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DefaultApi.add_role_admins"
      end
      # resource path
      local_var_path = '/api/2/roles/{role_id}/admins'.sub('{' + 'role_id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddRoleUsers200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.add_role_admins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_role_admins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param role_id [Integer] Set to the id of the role you want to return.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<AddRoleUsers200ResponseInner>]
    def add_role_users(authorization, role_id, request_body, opts = {})
      data, _status_code, _headers = add_role_users_with_http_info(authorization, role_id, request_body, opts)
      data
    end

    # @param authorization [String] 
    # @param role_id [Integer] Set to the id of the role you want to return.
    # @param request_body [Array<Integer>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddRoleUsers200ResponseInner>, Integer, Hash)>] Array<AddRoleUsers200ResponseInner> data, response status code and response headers
    def add_role_users_with_http_info(authorization, role_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_role_users ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.add_role_users"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling DefaultApi.add_role_users"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DefaultApi.add_role_users"
      end
      # resource path
      local_var_path = '/api/2/roles/{role_id}/users'.sub('{' + 'role_id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddRoleUsers200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.add_role_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_role_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param add_scope_request [AddScopeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Id]
    def add_scope(authorization, id, add_scope_request, opts = {})
      data, _status_code, _headers = add_scope_with_http_info(authorization, id, add_scope_request, opts)
      data
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param add_scope_request [AddScopeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Id, Integer, Hash)>] Id data, response status code and response headers
    def add_scope_with_http_info(authorization, id, add_scope_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_scope ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.add_scope"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.add_scope"
      end
      # verify the required parameter 'add_scope_request' is set
      if @api_client.config.client_side_validation && add_scope_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_scope_request' when calling DefaultApi.add_scope"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations/{id}/scopes'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_scope_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Id'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.add_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param request_body [Array<Integer>] The request body must contain an array of User Mapping IDs in the desired order.
    # @param [Hash] opts the optional parameters
    # @return [Array<Integer>]
    def bulk_mapping_sort(authorization, request_body, opts = {})
      data, _status_code, _headers = bulk_mapping_sort_with_http_info(authorization, request_body, opts)
      data
    end

    # @param authorization [String] 
    # @param request_body [Array<Integer>] The request body must contain an array of User Mapping IDs in the desired order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Integer>, Integer, Hash)>] Array<Integer> data, response status code and response headers
    def bulk_mapping_sort_with_http_info(authorization, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bulk_mapping_sort ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.bulk_mapping_sort"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DefaultApi.bulk_mapping_sort"
      end
      # resource path
      local_var_path = '/api/2/apps/mappings/sort'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Integer>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.bulk_mapping_sort",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bulk_mapping_sort\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param request_body [Array<Integer>] The request body must contain an array of App Rule IDs in the desired order.
    # @param [Hash] opts the optional parameters
    # @return [Array<Integer>]
    def bulk_sort(authorization, app_id, request_body, opts = {})
      data, _status_code, _headers = bulk_sort_with_http_info(authorization, app_id, request_body, opts)
      data
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param request_body [Array<Integer>] The request body must contain an array of App Rule IDs in the desired order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Integer>, Integer, Hash)>] Array<Integer> data, response status code and response headers
    def bulk_sort_with_http_info(authorization, app_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bulk_sort ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.bulk_sort"
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling DefaultApi.bulk_sort"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DefaultApi.bulk_sort"
      end
      # resource path
      local_var_path = '/api/2/apps/{app_id}/rules/sort'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Integer>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.bulk_sort",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bulk_sort\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param schema [Schema] 
    # @param [Hash] opts the optional parameters
    # @return [Schema]
    def create_app(authorization, schema, opts = {})
      data, _status_code, _headers = create_app_with_http_info(authorization, schema, opts)
      data
    end

    # @param authorization [String] 
    # @param schema [Schema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Schema, Integer, Hash)>] Schema data, response status code and response headers
    def create_app_with_http_info(authorization, schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_app ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_app"
      end
      # verify the required parameter 'schema' is set
      if @api_client.config.client_side_validation && schema.nil?
        fail ArgumentError, "Missing the required parameter 'schema' when calling DefaultApi.create_app"
      end
      # resource path
      local_var_path = '/api/2/apps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schema)

      # return_type
      return_type = opts[:debug_return_type] || 'Schema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_app",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_app\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param create_authorization_server_request [CreateAuthorizationServerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Id]
    def create_authorization_server(authorization, create_authorization_server_request, opts = {})
      data, _status_code, _headers = create_authorization_server_with_http_info(authorization, create_authorization_server_request, opts)
      data
    end

    # @param authorization [String] 
    # @param create_authorization_server_request [CreateAuthorizationServerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Id, Integer, Hash)>] Id data, response status code and response headers
    def create_authorization_server_with_http_info(authorization, create_authorization_server_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_authorization_server ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_authorization_server"
      end
      # verify the required parameter 'create_authorization_server_request' is set
      if @api_client.config.client_side_validation && create_authorization_server_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_authorization_server_request' when calling DefaultApi.create_authorization_server"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_authorization_server_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Id'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_authorization_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_authorization_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param create_environment_variable_request [CreateEnvironmentVariableRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Envvar]
    def create_environment_variable(authorization, create_environment_variable_request, opts = {})
      data, _status_code, _headers = create_environment_variable_with_http_info(authorization, create_environment_variable_request, opts)
      data
    end

    # @param authorization [String] 
    # @param create_environment_variable_request [CreateEnvironmentVariableRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Envvar, Integer, Hash)>] Envvar data, response status code and response headers
    def create_environment_variable_with_http_info(authorization, create_environment_variable_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_environment_variable ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_environment_variable"
      end
      # verify the required parameter 'create_environment_variable_request' is set
      if @api_client.config.client_side_validation && create_environment_variable_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_environment_variable_request' when calling DefaultApi.create_environment_variable"
      end
      # resource path
      local_var_path = '/api/2/hooks/envs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_environment_variable_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Envvar'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_environment_variable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_environment_variable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param hook [Hook] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_hook(authorization, hook, opts = {})
      create_hook_with_http_info(authorization, hook, opts)
      nil
    end

    # @param authorization [String] 
    # @param hook [Hook] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_hook_with_http_info(authorization, hook, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_hook ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_hook"
      end
      # verify the required parameter 'hook' is set
      if @api_client.config.client_side_validation && hook.nil?
        fail ArgumentError, "Missing the required parameter 'hook' when calling DefaultApi.create_hook"
      end
      # resource path
      local_var_path = '/api/2/hooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hook)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_hook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_hook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param mapping [Mapping] 
    # @param [Hash] opts the optional parameters
    # @return [Integer]
    def create_mapping(authorization, mapping, opts = {})
      data, _status_code, _headers = create_mapping_with_http_info(authorization, mapping, opts)
      data
    end

    # @param authorization [String] 
    # @param mapping [Mapping] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def create_mapping_with_http_info(authorization, mapping, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_mapping ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_mapping"
      end
      # verify the required parameter 'mapping' is set
      if @api_client.config.client_side_validation && mapping.nil?
        fail ArgumentError, "Missing the required parameter 'mapping' when calling DefaultApi.create_mapping"
      end
      # resource path
      local_var_path = '/api/2/mappings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mapping)

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param risk_rule [RiskRule] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_risk_rule(authorization, risk_rule, opts = {})
      create_risk_rule_with_http_info(authorization, risk_rule, opts)
      nil
    end

    # @param authorization [String] 
    # @param risk_rule [RiskRule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_risk_rule_with_http_info(authorization, risk_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_risk_rule ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_risk_rule"
      end
      # verify the required parameter 'risk_rule' is set
      if @api_client.config.client_side_validation && risk_rule.nil?
        fail ArgumentError, "Missing the required parameter 'risk_rule' when calling DefaultApi.create_risk_rule"
      end
      # resource path
      local_var_path = '/api/2/risk/rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(risk_rule)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_risk_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_risk_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<CreateRoles201ResponseInner>]
    def create_roles(authorization, opts = {})
      data, _status_code, _headers = create_roles_with_http_info(authorization, opts)
      data
    end

    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CreateRoles201ResponseInner>, Integer, Hash)>] Array<CreateRoles201ResponseInner> data, response status code and response headers
    def create_roles_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_roles ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_roles"
      end
      # resource path
      local_var_path = '/api/2/roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CreateRoles201ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param rule [Rule] 
    # @param [Hash] opts the optional parameters
    # @return [RuleId]
    def create_rule(authorization, app_id, rule, opts = {})
      data, _status_code, _headers = create_rule_with_http_info(authorization, app_id, rule, opts)
      data
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param rule [Rule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RuleId, Integer, Hash)>] RuleId data, response status code and response headers
    def create_rule_with_http_info(authorization, app_id, rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_rule ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_rule"
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling DefaultApi.create_rule"
      end
      # verify the required parameter 'rule' is set
      if @api_client.config.client_side_validation && rule.nil?
        fail ArgumentError, "Missing the required parameter 'rule' when calling DefaultApi.create_rule"
      end
      # resource path
      local_var_path = '/api/2/apps/{app_id}/rules'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rule)

      # return_type
      return_type = opts[:debug_return_type] || 'RuleId'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param user [User] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mappings Controls how mappings will be applied to the user on creation. Defaults to async.
    # @option opts [Boolean] :validate_policy Will passwords validate against the User Policy? Defaults to true.
    # @return [User]
    def create_user(authorization, user, opts = {})
      data, _status_code, _headers = create_user_with_http_info(authorization, user, opts)
      data
    end

    # @param authorization [String] 
    # @param user [User] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mappings Controls how mappings will be applied to the user on creation. Defaults to async.
    # @option opts [Boolean] :validate_policy Will passwords validate against the User Policy? Defaults to true.
    # @return [Array<(User, Integer, Hash)>] User data, response status code and response headers
    def create_user_with_http_info(authorization, user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_user ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.create_user"
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling DefaultApi.create_user"
      end
      allowable_values = ["async", "sync", "disabled"]
      if @api_client.config.client_side_validation && opts[:'mappings'] && !allowable_values.include?(opts[:'mappings'])
        fail ArgumentError, "invalid value for \"mappings\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mappings'] = opts[:'mappings'] if !opts[:'mappings'].nil?
      query_params[:'validate_policy'] = opts[:'validate_policy'] if !opts[:'validate_policy'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user)

      # return_type
      return_type = opts[:debug_return_type] || 'User'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param claim_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_access_token_claim(authorization, id, claim_id, opts = {})
      delete_access_token_claim_with_http_info(authorization, id, claim_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param claim_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_access_token_claim_with_http_info(authorization, id, claim_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_access_token_claim ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_access_token_claim"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_access_token_claim"
      end
      # verify the required parameter 'claim_id' is set
      if @api_client.config.client_side_validation && claim_id.nil?
        fail ArgumentError, "Missing the required parameter 'claim_id' when calling DefaultApi.delete_access_token_claim"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations/{id}/claims/{claim_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'claim_id' + '}', CGI.escape(claim_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_access_token_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_access_token_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_app(authorization, app_id, opts = {})
      delete_app_with_http_info(authorization, app_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_app_with_http_info(authorization, app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_app ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_app"
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling DefaultApi.delete_app"
      end
      # resource path
      local_var_path = '/api/2/apps/{app_id}'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_app",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_app\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param parameter_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_app_parameter(authorization, app_id, parameter_id, opts = {})
      delete_app_parameter_with_http_info(authorization, app_id, parameter_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param parameter_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_app_parameter_with_http_info(authorization, app_id, parameter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_app_parameter ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_app_parameter"
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling DefaultApi.delete_app_parameter"
      end
      # verify the required parameter 'parameter_id' is set
      if @api_client.config.client_side_validation && parameter_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_id' when calling DefaultApi.delete_app_parameter"
      end
      # resource path
      local_var_path = '/api/2/apps/{app_id}/parameters/{parameter_id}'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s)).sub('{' + 'parameter_id' + '}', CGI.escape(parameter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_app_parameter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_app_parameter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_authorization_server(authorization, id, opts = {})
      delete_authorization_server_with_http_info(authorization, id, opts)
      nil
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_authorization_server_with_http_info(authorization, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_authorization_server ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_authorization_server"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_authorization_server"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_authorization_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_authorization_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param envvar_id [String] Set to the id of the Hook Environment Variable that you want to fetch.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_environment_variable(authorization, envvar_id, opts = {})
      delete_environment_variable_with_http_info(authorization, envvar_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param envvar_id [String] Set to the id of the Hook Environment Variable that you want to fetch.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_environment_variable_with_http_info(authorization, envvar_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_environment_variable ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_environment_variable"
      end
      # verify the required parameter 'envvar_id' is set
      if @api_client.config.client_side_validation && envvar_id.nil?
        fail ArgumentError, "Missing the required parameter 'envvar_id' when calling DefaultApi.delete_environment_variable"
      end
      # resource path
      local_var_path = '/api/2/hooks/envs/{envvar_id}'.sub('{' + 'envvar_id' + '}', CGI.escape(envvar_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_environment_variable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_environment_variable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user.
    # @param device_id [Integer] Set to the device_id of the MFA device.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_factor(authorization, user_id, device_id, opts = {})
      delete_factor_with_http_info(authorization, user_id, device_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user.
    # @param device_id [Integer] Set to the device_id of the MFA device.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_factor_with_http_info(authorization, user_id, device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_factor ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_factor"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.delete_factor"
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling DefaultApi.delete_factor"
      end
      # resource path
      local_var_path = '/api/2/mfa/users/{user_id}/devices/{device_id}'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'device_id' + '}', CGI.escape(device_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param hook_id [String] Set to the id of the Hook that you want to return.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_hook(authorization, hook_id, opts = {})
      delete_hook_with_http_info(authorization, hook_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param hook_id [String] Set to the id of the Hook that you want to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_hook_with_http_info(authorization, hook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_hook ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_hook"
      end
      # verify the required parameter 'hook_id' is set
      if @api_client.config.client_side_validation && hook_id.nil?
        fail ArgumentError, "Missing the required parameter 'hook_id' when calling DefaultApi.delete_hook"
      end
      # resource path
      local_var_path = '/api/2/hooks/{hook_id}'.sub('{' + 'hook_id' + '}', CGI.escape(hook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_hook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_hook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param mapping_id [Integer] The id of the user mapping to locate.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_mapping(authorization, mapping_id, opts = {})
      delete_mapping_with_http_info(authorization, mapping_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param mapping_id [Integer] The id of the user mapping to locate.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_mapping_with_http_info(authorization, mapping_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_mapping ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_mapping"
      end
      # verify the required parameter 'mapping_id' is set
      if @api_client.config.client_side_validation && mapping_id.nil?
        fail ArgumentError, "Missing the required parameter 'mapping_id' when calling DefaultApi.delete_mapping"
      end
      # resource path
      local_var_path = '/api/2/mappings/{mapping_id}'.sub('{' + 'mapping_id' + '}', CGI.escape(mapping_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param risk_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RiskRule]
    def delete_risk_rule(authorization, risk_rule_id, opts = {})
      data, _status_code, _headers = delete_risk_rule_with_http_info(authorization, risk_rule_id, opts)
      data
    end

    # @param authorization [String] 
    # @param risk_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RiskRule, Integer, Hash)>] RiskRule data, response status code and response headers
    def delete_risk_rule_with_http_info(authorization, risk_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_risk_rule ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_risk_rule"
      end
      # verify the required parameter 'risk_rule_id' is set
      if @api_client.config.client_side_validation && risk_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'risk_rule_id' when calling DefaultApi.delete_risk_rule"
      end
      # resource path
      local_var_path = '/api/2/risk/rules/{risk_rule_id}'.sub('{' + 'risk_rule_id' + '}', CGI.escape(risk_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RiskRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_risk_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_risk_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param role_id [Integer] Set to the id of the role you want to return.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_role(authorization, role_id, opts = {})
      delete_role_with_http_info(authorization, role_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param role_id [Integer] Set to the id of the role you want to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_role_with_http_info(authorization, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_role ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_role"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling DefaultApi.delete_role"
      end
      # resource path
      local_var_path = '/api/2/roles/{role_id}'.sub('{' + 'role_id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param rule_id [Integer] The id of the app rule to locate.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_rule(authorization, app_id, rule_id, opts = {})
      delete_rule_with_http_info(authorization, app_id, rule_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param app_id [Integer] 
    # @param rule_id [Integer] The id of the app rule to locate.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_rule_with_http_info(authorization, app_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_rule ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_rule"
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling DefaultApi.delete_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling DefaultApi.delete_rule"
      end
      # resource path
      local_var_path = '/api/2/apps/{app_id}/rules/{rule_id}'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s)).sub('{' + 'rule_id' + '}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param scope_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_scope(authorization, id, scope_id, opts = {})
      delete_scope_with_http_info(authorization, id, scope_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param id [Integer] 
    # @param scope_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_scope_with_http_info(authorization, id, scope_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_scope ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_scope"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_scope"
      end
      # verify the required parameter 'scope_id' is set
      if @api_client.config.client_side_validation && scope_id.nil?
        fail ArgumentError, "Missing the required parameter 'scope_id' when calling DefaultApi.delete_scope"
      end
      # resource path
      local_var_path = '/api/2/api_authorizations/{id}/scopes/{scope_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'scope_id' + '}', CGI.escape(scope_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user that you want to return.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user(authorization, user_id, opts = {})
      delete_user_with_http_info(authorization, user_id, opts)
      nil
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user that you want to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_with_http_info(authorization, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_user ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.delete_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.delete_user"
      end
      # resource path
      local_var_path = '/api/2/users/{user_id}'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param mapping_id [Integer] The id of the user mapping to locate.
    # @param request_body [Array<Integer>] Request body is a list of user IDs tested against the mapping conditions to verify that the mapping would be applied
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def dry_run_mapping(authorization, mapping_id, request_body, opts = {})
      data, _status_code, _headers = dry_run_mapping_with_http_info(authorization, mapping_id, request_body, opts)
      data
    end

    # @param authorization [String] 
    # @param mapping_id [Integer] The id of the user mapping to locate.
    # @param request_body [Array<Integer>] Request body is a list of user IDs tested against the mapping conditions to verify that the mapping would be applied
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Integer, Hash)>] Array<Object> data, response status code and response headers
    def dry_run_mapping_with_http_info(authorization, mapping_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.dry_run_mapping ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.dry_run_mapping"
      end
      # verify the required parameter 'mapping_id' is set
      if @api_client.config.client_side_validation && mapping_id.nil?
        fail ArgumentError, "Missing the required parameter 'mapping_id' when calling DefaultApi.dry_run_mapping"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DefaultApi.dry_run_mapping"
      end
      # resource path
      local_var_path = '/api/2/mappings/{mapping_id}/dryrun'.sub('{' + 'mapping_id' + '}', CGI.escape(mapping_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.dry_run_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#dry_run_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user.
    # @param enroll_factor_request [EnrollFactorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<Array>]
    def enroll_factor(authorization, user_id, enroll_factor_request, opts = {})
      data, _status_code, _headers = enroll_factor_with_http_info(authorization, user_id, enroll_factor_request, opts)
      data
    end

    # @param authorization [String] 
    # @param user_id [Integer] Set to the id of the user.
    # @param enroll_factor_request [EnrollFactorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Array>, Integer, Hash)>] Array<Array> data, response status code and response headers
    def enroll_factor_with_http_info(authorization, user_id, enroll_factor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.enroll_factor ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.enroll_factor"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.enroll_factor"
      end
      # verify the required parameter 'enroll_factor_request' is set
      if @api_client.config.client_side_validation && enroll_factor_request.nil?
        fail ArgumentError, "Missing the required parameter 'enroll_factor_request' when calling DefaultApi.enroll_factor"
      end
      # resource path
      local_var_path = '/api/2/mfa/users/{user_id}/registrations'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enroll_factor_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Array>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.enroll_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#enroll_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param authorization [String] 
    # @param generate_mfa_token_request [GenerateMfaTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateMfaToken200Response]
    def generate_mfa_token(authorization, generate_mfa_token_request, opts = {})
      data, _status_code, _headers = generate_mfa_token_with_http_info(authorization, generate_mfa_token_request, opts)
      data
    end

    # @param authorization [String] 
    # @param generate_mfa_token_request [GenerateMfaTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateMfaToken200Response, Integer, Hash)>] GenerateMfaToken200Response data, response status code and response headers
    def generate_mfa_token_with_http_info(authorization, generate_mfa_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.generate_mfa_token ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling DefaultApi.generate_mfa_token"
      end
      # verify the required parameter 'generate_mfa_token_request' is set
      if @api_client.config.client_side_validation && generate_mfa_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_mfa_token_request' when calling DefaultApi.generate_mfa_token"
      end
      # resource path
      local_var_path = '/api/2/mfs/users/{user_id}/mfa_token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_mfa_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateMfaToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
[...]
